In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn import preprocessing
%matplotlib inline

Using set of breast cancer data, create a model to predict breast cancer. Also, what traits are most indicative of whether or not an individual will be diagnosed?

In [2]:
df = pd.read_csv('breast-cancer-wisconsin.data.csv', header=None)

Attribute Information:

1. Sample code number: id number 
2. Clump Thickness: 1 - 10 
3. Uniformity of Cell Size: 1 - 10 
4. Uniformity of Cell Shape: 1 - 10 
5. Marginal Adhesion: 1 - 10 
6. Single Epithelial Cell Size: 1 - 10 
7. Bare Nuclei: 1 - 10 
8. Bland Chromatin: 1 - 10 
9. Normal Nucleoli: 1 - 10 
10. Mitoses: 1 - 10 
11. Class: (2 for benign, 4 for malignant)

In [3]:
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [4]:
df.shape

(699, 11)

In [5]:
df.dtypes

0      int64
1      int64
2      int64
3      int64
4      int64
5      int64
6     object
7      int64
8      int64
9      int64
10     int64
dtype: object

In [6]:
df[6].value_counts()

1     402
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: 6, dtype: int64

In [7]:
df[10].value_counts()

2    458
4    241
Name: 10, dtype: int64

In [8]:
df.drop(df.loc[df[6]=='?'].index, inplace=True)

In [9]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier(n_jobs=-1)
X = df.drop(10, 1)
Y = df[10]
X = X.dropna(axis=1)

In [10]:
cross_val_score(rfc, X, Y, cv=10)

array([0.94202899, 0.89855072, 0.95652174, 0.94202899, 0.98529412,
       0.97058824, 0.95588235, 0.98529412, 0.98529412, 0.98507463])

In [16]:
# Look at type 1 and type 2 errors

In [12]:
y_pred = rfc.fit(X, Y).predict(X)

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y, y_pred)

array([[443,   1],
       [  0, 239]])

In [ ]:
# Most important features

In [14]:
features = X.columns
rfc.fit(X, Y)
importances = rfc.feature_importances_
indices = np.argsort(importances)

In [15]:
for feature in zip(features, rfc.feature_importances_): 
    print(feature)

(0, 0.014594076685810416)
(1, 0.052357492612498446)
(2, 0.2836616271465725)
(3, 0.04355454833318678)
(4, 0.0172009930704083)
(5, 0.09187063679699023)
(6, 0.3778848299841155)
(7, 0.02753809593617587)
(8, 0.07298158074757367)
(9, 0.018356118686668248)